body {
  font-family: "Glory", sans-serif;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/beach.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 100px;
}
header h1 {
  font-family: "Grape Nuts", cursive;
  font-size: 96px;
  margin: 30px 0;
}

header h2 {
  font-size: 36px;
  margin: 0;
}

header h3 {
  font-size: 24px;
  margin: 0;
}

header a {
  font-size: 14px;
  background: white;
  text-decoration: none;
  color: black;
  padding: 12px 16px;
  display: inline-block;
  margin-top: 32px;
}

a:hover {
  text-decoration: underline;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/botanical-garden.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 50px;
}

footer h3 {
  font-size: 20px;
}

footer p {
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.7;
}

footer ul {
  padding: 0;
  opacity: 0.7;
}
footer li {
  list-style: none;
  line-height: 1.5;
}

footer a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

@media (max-width: 900px) {
  header {
    padding: 60px 30px;
  }

  header h1 {
    font-size: 60px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 16px;
  }

  header a {
    font-size: 10px;
    padding: 10px 12px;
  }

  footer {
    padding: 40px;
  }

  footer h3 {
    font-size: 16px;
  }

  footer p {
    font-size: 12px;
  }

  footer li {
    line-height: 1;
  }
  footer a {
    font-size: 12px;
  }
}
